<ion-view>

    <ion-nav-title>{{Info.title}}</ion-nav-title>
    <ion-content class="padding">
        <h2>{{Info.title}}</h2>
        {{Info.content}} <br>
        <br>
        <div>
            <div class="row">
                <div class="col col-66">
                    <div>
                        <span ng-repeat="category in Info.categories">#{{ category.title}}</span>
                    </div>
                </div>
                <div class="col">
                    <img ng-src="{{Info.userimage}}" width="100%">
                    <div class="text-center">{{Info.username}}<br>{{Info.usermail}}</div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
