<ion-view>

    <ion-nav-title>{{Info.title}}</ion-nav-title>
  <ion-content class="padding text-main">
    <h4 class="text-title text-center">{{Info.title}}
    </h4>
    <div class="text-content">
      {{Info.content}}
    </div>
        <br>
        <div>
          <div class="text-category text-center">
            <div>
              <span ng-repeat="category in Info.categories">#{{ category.title}}</span>
            </div>
          </div>
          <div class="text-user text-center">
            <img width="100px" ng-src="{{Info.userimage}}" width="100%">
            <div class="text-center">{{Info.username}}<br>{{Info.usermail}}</div>
          </div>
        </div>

    </ion-content>
</ion-view>
