<ion-view view-title="Ayarlar">
    <ion-content>
        <ion-list>
            <ion-toggle ng-model="Settings.EnablePush">
                Bildirimler Aktif Mi?
            </ion-toggle>
            <!--<ion-item>-->
                <!--<ion-label color="primary" stacked>Bildirimler kaç dakikada bir gelsin?</ion-label>-->
                <!--<ion-input type="number" placeholder="15" ng-model="Settings.PushFrequency"></ion-input>-->
            <!--</ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>
