<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Güncel" icon-off="icon ion-ios-timer" icon-on="icon ion-ios-timer" href="#/tab/now">
    <ion-nav-view name="tab-now"></ion-nav-view>
  </ion-tab>

  <!--<ion-tab title="Favorilerim" icon-off="icon ion-ios-star" icon-on="icon ion-ios-star" href="#/tab/favorites">-->
    <!--<ion-nav-view name="tab-favorites"></ion-nav-view>-->
  <!--</ion-tab>-->

  <ion-tab title="Ayarlar" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
