.text-main {
    background: url("../img/bg.jpg");
}

.text-title {
    color: #FFFF00;
    margin: 25px 0px
}

.text-content {
    color: #fff;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 30px;
    text-shadow: 0px 2px 5px #000;
    margin-bottom: 10px;
}
.text-category-header{
    color: #fff;
    font-weight: 400;
    text-shadow: 0px 2px 5px #000;
}

.text-user {
    bottom: 0;
    color: #FFF;
}

.text-category {
    margin-bottom: 10px;
    color: #FFFF00;
}

.fav-icon {
    margin: 0px 10px;
}

.categoryBox {
    float: left;
    height: 100px;
    border: 3px solid white;
    text-align: center;
    word-wrap: break-word;
}

.categorySelected {
    border: 3px solid #387ef5;
}

.categoryBoxImage {
    width: 60px;
}